.navbar-background {
    background-color: #232D4B;
}

.navbar-text {
    color: white;
    text-decoration: none;
}

.navbar-text:hover {
    color: #DADADA;
    text-decoration: none;
}

.form-select-format {
    width: 240px; 
    height: 28px;
    font-size: 14px;
}

.button-spacing {
    line-height: 70%;
}

.button-font {
    font-size: 12px;
}