{% extends "database/base.html" %}
{% load static %}  

{% block content %}
    <br><br>
    <h1 style="margin-left: 100px">About</h1>
    <a href="{% static 'about_db.pdf' %}" style="margin-right: 20px" class="btn btn-light btn-sm" download>Download About</a> <!-- btn-light and btn-sm originally from Bootstrap, final layer btn-small modified in styles.css to correct width -->
    <a href="{% static 'data_dictionary.pdf' %}" style="margin-right: 20px" class="btn btn-light btn-sm" download>Download Data Dictionary</a> <!-- btn-light and btn-sm originally from Bootstrap, final layer btn-small modified in styles.css to correct width -->

    <div style="line-height: 1800%"><br></div>

{% endblock content %}
