{% extends "database/base.html" %}
{% load plotly_dash %}
{% block content %}
    
{% load static %}
<br>
<br>
<br>
<div class="tab" style="width: 1250px; margin-left: auto; margin-right: auto">
  <button class="tablinks btn btn--blue-d" onclick="showContent(event, 'BESS Dashboard')" id = defaultOpen>BESS Dashboard</button>
  <button class="tablinks btn btn--blue-d" onclick="showContent(event, 'BESS Data')">BESS Data</button>
</div>



<!-- Tab content -->
<div id="BESS Dashboard" class="tabcontent" style="width: 1250px; margin-left: auto; margin-right: auto">
    {% plotly_app_bootstrap name='BatteryDash' aspect='1by1' %}

</div>

<div id="BESS Data" class="tabcontent" style="width: 1250px; margin-left: auto; margin-right: auto">
  <div class="'container-fluid">
    <div style="width: 1250px; margin-left: auto; margin-right: auto">
        <div class="card-body">
            <h1>BESS Data</h1>
            <h2>Browse and Download Battery Energy Storage Data</h2>
            <p><i>Current as of March 31, 2026 (Will be updated quarterly)</i></p>
            <div>
                <div style="line-height: 20%"><br></div>
                <a class="btn btn-sm btn--blue-d" href="{% url 'export_xlsx' %}" style="margin-right: 20px">Export All to Excel</a>
            </div>
        </div> 
    </div>
</div>

{{ map_data|json_script:"data_json" }}
<div class="row" style="background-color:#F2F4F8; width: 1200px; margin-left: auto; margin-right: auto">
    <div class="col">
        <div style="line-height: 135%"><br></div>
        <h3><b>Explore Battery Storage Projects</b></h3>in Virginia

        <div style="line-height: 185%"><br></div>
        
        <div class="search-box">
            <input type="text" class="form-control" style="font-size: 13px; width: 240px; height: 30px; text-align: left; border: 0.8px solid #000000; background-color: #ffffff;" placeholder="Search by Project Name">
        </div>

        <div style="line-height: 75%"><br></div>
        
        <!-- LOCALITY DROPDOWN -->
        <div class="dropdown">
            <button class="btn btn-sm dropdown-toggle" style="width: 240px; text-align: left; border: 0.8px solid #000000; background-color: #ffffff;" data-toggle="dropdown">
                &#160; Locality
            </button>
            <div class="dropdown-menu p-2" style="width: 240px;">
                <div style="width: 215px; height: 200px; overflow-y: scroll;">
                    {% for locality in localities %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input locality-box" type="checkbox" id="{{ locality|lower|slugify }}">
                            <label class="form-check-label button-font" for="{{ locality|lower|slugify }}">
                                {{ locality }}
                            </label>
                        </div>
                        <br>
                    {% endfor %}
                </div>

                <div style="line-height: 65%"><br></div>

                <button class="select-all-btn btn btn-light btn-sm-select">Select All</button>

            </div>
        </div>

        <div style="line-height: 75%"><br></div>



        <!-- PERMIT STATUS DROPDOWN -->
        <div class="dropdown">
            <button class="btn btn-sm dropdown-toggle" style="width: 240px; text-align: left; border: 0.8px solid #000000; background-color: #ffffff;" data-toggle="dropdown">
                &#160; Permit Status
            </button>
            <div class="dropdown-menu p-2" style="width: 240px;">
                <div style="width: 215px; height: 200px; overflow-y: scroll;">
                    {% for status in permit_status %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input status-box" type="checkbox" id="{{ status|lower|slugify }}">
                            <label class="form-check-label button-font" for="{{ status|lower|slugify }}">
                                {{ status }}
                            </label>
                        </div>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div style="line-height: 75%"><br></div>

        <button class="clear-all-btn btn btn-light btn-sm-clear">Clear All Filters</button>

    </div>


    <div class="col-9">
        <style> #map { height: 400px; width: 885px; z-index: 1} </style>
        <p class="card-text" id="map"></p>
    </div>

</div>

    <br>
    <br>
    <br>

    <div style="width: 1200px; margin-left: auto; margin-right: auto">
    <table id="projectData" class="table table-hover">
        <thead>
            <tr>
                <th style="font-weight: 600">Project Name</th>
                <th style="font-weight: 600">Locality</th>

                <th style="font-weight: 600;">Unit of Government</th>
                <th style="font-weight: 600">BESS Project MW</th>
                <th style="font-weight: 600">Energy Capacity (MWh)</th>
                <th style="font-weight: 600">Local Permit Status</th>
                <!-- <th style="font-weight: 600">EIA - Operational Status Acreage</th> -->
                <th style="font-weight: 600">Solar + Storage or Co-located with Solar?</th>
                <th>data_id</th>
            </tr>
        </thead>
        <tbody>
            {% for project in data %}
            <tr>
                <td style="cursor: pointer;">{{ project.project_name }}</td>
                <td style="cursor: pointer;">{{ project.locality }}</td>
                <td style="cursor: pointer;">{{ project.unit_of_government }}</td>
                <td style="cursor: pointer;">{{ project.project_bess_mw|floatformat:1 }}</td>
                <td style="cursor: pointer;">{{ project.project_bess_capacity|floatformat:1 }}</td>
                <td style="cursor: pointer;">{{ project.local_permit_status }}</td>
                <!---  <td style="cursor: pointer;">{{ project.eia_operational }}</td> -->
                <td style="cursor: pointer;">{{ project.solar_storage }}</td>
                <td style="cursor: pointer;">{{ project.data_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <div style="line-height: 200%"><br></div>

    <script>
        $(document).ready(function () {
          var table = $('#projectData').DataTable({
            searching: true,
            lengthChange: false,
            sortable: true,
            scrollX: true,
            scrollY: '500px',
            paging: false, 
            columnDefs: [
                { width: '300px', targets: 0 },
                { width: '150px', targets: 1 }, 
                { width: '150px', targets: 2 }, 
                { width: '150px', targets: 3 },
                { width: '200px', type:'num', targets: 4 },
                { width: '200px', targets: 5 },
                { width: '250px', type: 'string', targets: 6 },
                { width: '300px', targets: 7 },
            ]
          });

          table.column(7).visible(false)
          
          $('#projectData tbody').on('click', 'tr', function () {
            console.log("ROW CLICKED");
            var data = table.row(this).data();
            var data_id = data[7]
            window.location.href = "/storage-project/" + data_id + "/";
            // console.log("Row data:", row);
        });
          
        });
    </script>

<script>
    var map = L.map('map').setView([38.2, -79.2569], 7)

    let JSONData = JSON.parse(document.getElementById('data_json').textContent)
    let data = JSONData;


    var mapBase = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 20,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        referrerPolicy: 'strict-origin-when-cross-origin'
    })

    var projectMarkers = L.layerGroup();
    mapBase.addTo(map);
    projectMarkers.addTo(map);



    function updateMarkers() {
        let search = document.querySelector('.search-box input').value.toLowerCase();
        let statusList = Array.from(document.querySelectorAll('.status-box:checked')).map(checkbox => checkbox.id.toLowerCase());
        let localityList = Array.from(document.querySelectorAll('.locality-box:checked')).map(checkbox => checkbox.id.replace(/_/g, ' ').toLowerCase());
 
        let filteredData = data.filter(item => 
            (!search || (item.project_name && item.project_name.toLowerCase().includes(search)) || (item.alt_names && item.alt_names.toLowerCase().includes(search)) ) &&
            (statusList.length == 0 || (item.local_permit_status && statusList.includes(item.local_permit_status.toLowerCase()))) &&
            (localityList.length == 0 || (item.locality && localityList.includes(item.locality.toLowerCase())))
        );


        projectMarkers.clearLayers();

        filteredData.forEach(project => { 
            if (project.longitude !== null && project.latitude !== null) {
                var projectMarker = L.marker([project.latitude, project.longitude])
                    .on('click', function() {
                        window.location.href = "/storage-project/" + project.data_id + "/";
                    })
                    .on('mouseover', function() {
                        projectMarker.bindPopup(project.project_name).openPopup();
                    })
                    .on('mouseout', function() {
                        projectMarker.closePopup();
                    });
                
                projectMarkers.addLayer(projectMarker);
            }
        });
    }

    updateMarkers();

    let searchTimeout;
    document.querySelector('.search-box input').addEventListener('input', function() {
        clearTimeout(searchTimeout);
        searchTimeout = setTimeout(updateMarkers, 300); // Update after 300ms of no typing
    });

    document.querySelectorAll('.locality-box, .status-box').forEach(checkbox => {
        checkbox.addEventListener('change', updateMarkers);
    });

    document.querySelector('.select-all-btn').addEventListener('click', function (event) {
        event.stopPropagation(); 

        const checkboxes = document.querySelectorAll('.locality-box');
        const allChecked = Array.from(checkboxes).every(cb => cb.checked);

        checkboxes.forEach(cb => {
            cb.checked = !allChecked;
        });
    });
    document.querySelector('.clear-all-btn').addEventListener('click', function () {
        document.querySelectorAll('.locality-box, .status-box').forEach(function (checkbox) {
            checkbox.checked = false;
            updateMarkers();

        });
    });
</script>
</div>


<script>
function showContent(evt, contentType) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(contentType).style.display = "block";
  evt.currentTarget.className += " active";
} 

</script>

<script>
// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

{% endblock content %}