{% extends "database/base.html" %}

{% load static %}
{% load plotly_dash %}

{% block content %}
    <br><br>
    <h1 style="margin-left: 75px">Virginia Solar Database</h1>
    <div style="width: 1500px; margin-left: auto; margin-right: auto">
        <div class="card-body">
          <p class="card-text">The Virginia Solar Database (VSD) provides a summary of large-scale solar projects proposed for siting approval at the local level in Virginia. It includes projects over 1 MW (with the exception of BARC Community Solar Project in Bath County) that have been advertised for a local public hearing. The database excludes school and government installations and procurement projects (with some exceptions for notable projects such as NASA Wallops, Oceana, and landfill projects such as Campostella).   
            <br><br>
            While the information we have compiled is all already publicly available, this is the state's first and only comprehensive source of this data.
            <br><br>
            Project data is current through February 24, 2025. 
            <br><br>
            Please visit our <a href="/about">About</a> page to learn about the database's history, data collection methodology, data definitions, and how stakeholder engagement informed the project. . 
            <br><br>
            If you find errors or have any questions, or would like to sponsor this project to ensure its ongoing success, contact Elizabeth Marshall, 
            Senior Program Manager, Weldon Cooper Center at UVA, <a href="mailto:emm2t@virginia.edu">emm2t@virginia.edu</a>.
          </p>
        </div>
      </div>

      <div class="{%plotly_class name="SolarDash"%}">
        {%plotly_app_bootstrap name="SolarDash" aspect="21by9" %}
      </div>

                    
   <!-- <div class="card">
        <div class="card-body" style="background-color:#F2F4F8">
            <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 0px; width: 100%;">
                <div>
                     {% autoescape off %}
                        {{ mwPieChart_div }}
                    {% endautoescape %}
                    <br>
                    {% autoescape off %}
                        {{ projectsAnnualLine_div }}
                    {% endautoescape %}
                    <br>
                    {% autoescape off %}
                        {{ mwAnnualLine_div }}
                    {% endautoescape %}
                    <br>
                    {% autoescape off %}
                        {{ sizeMWBar_div }}
                    {% endautoescape %}
                </div>
                <div>
                    {% autoescape off %}
                        {{ acrePieChart_div }}
                    {% endautoescape %}
                    <br>
                    {% autoescape off %}
                        {{ rateAnnualLine_div }}
                    {% endautoescape %}
                    <br>
                    {% autoescape off %}
                        {{ mwRegionalBar_div }}
                    {% endautoescape %}
                    <br>
                    {% autoescape off %}
                        {{ sizeProjectsBar_div }}
                    {% endautoescape %}
                </div>
            </div>

        </div>
    </div> -->

    <br>

{% endblock content %}
