{% extends "database/base.html" %}
{% block content %}
    <br><br>

    {{ data|json_script:"data_json" }}

    <div class="container">
        <div class="row" style="background-color:#F1F1EF">
          <div class="col">
            <div style="line-height: 135%"><br></div>
            <h5>Explore Solar Projects</h5>in Virginia

            <div style="line-height: 185%"><br></div>
            
            <div class="search-box">
                <input type="text" class="form-control" style="font-size: 13px; width: 240px; height: 30px; text-align: left; border: 0.8px solid #000000; background-color: #ffffff;" placeholder="Search by Project Name">
            </div>

            <div style="line-height: 75%"><br></div>

            <div class="dropdown">
                <button class="btn btn-sm dropdown-toggle" style="width: 240px; text-align: left; border: 0.8px solid #000000; background-color: #ffffff;" data-toggle="dropdown">
                    &#160; Locality
                </button>
            </div>

            <div style="line-height: 75%"><br></div>

            <div class="dropdown">
                <button class="btn btn-sm dropdown-toggle" style="width: 240px; text-align: left; border: 0.8px solid #000000; background-color: #ffffff;" data-toggle="dropdown">
                    &#160; Permit Status
                </button>
                <div class="dropdown-menu p-2" style="width: 240px;">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input status-box" type= "checkbox" id="approved">
                        <label class="form-check-label button-font" for="approved">
                            Approved
                        </label>
                    </div>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input status-box" type= "checkbox" id="denied">
                        <label class="form-check-label button-font" for="denied">
                            Denied
                        </label>
                    </div>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input status-box" type= "checkbox" id="withdrawn">
                        <label class="form-check-label button-font" for="withdrawn">
                            Withdrawn
                        </label>
                    </div>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input status-box" type= "checkbox" id="pending">
                        <label class="form-check-label button-font" for="pending">
                            Pending
                        </label>
                    </div>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input status-box" type= "checkbox" value="" id="by-right">
                        <label class="form-check-label button-font" for="byright">
                            By-right
                        </label>
                    </div>
                </div>
            </div>

            <div style="line-height: 75%"><br></div>

            <div class="dropdown">
                <button class="btn btn-sm dropdown-toggle" style="width: 240px; text-align: left; border: 0.8px solid #000000; background-color: #ffffff;" data-toggle="dropdown">
                    &#160; Project Size
                </button>
            </div>

            <br>

            <button class="filter-btn btn btn-light btn-sm" style="margin-right: 20px">Apply Filter(s)</button>

          </div>
          <div class="col-9">
            <style> #map { height: 400px; width: 818px } </style>
            <p class="card-text" id="map"></p>
          </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>

    <br>

    <script>
        var map = L.map('map').setView([38.2, -79.2569], 7)

        let data = JSON.parse(document.getElementById('data_json').textContent)

        var mapBase = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 20,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        })

        var projectMarkers = L.layerGroup();
        mapBase.addTo(map);
        projectMarkers.addTo(map);

        function updateMarkers(filteredData) {
            projectMarkers.clearLayers();

            filteredData.forEach(data => {
                if (data.longitude !== null && data.latitude !== null) {
                    var projectMarker = L.marker([data.latitude, data.longitude])
                        .on('click', function() {
                            window.location.href = "/project/" + data.data_id;
                        })
                        .on('mouseover', function() {
                            projectMarker.bindPopup(data.project_name).openPopup();
                        })
                        .on('mouseout', function() {
                            projectMarker.closePopup();
                        });
                    
                    projectMarkers.addLayer(projectMarker);
                }
            });
        }

        updateMarkers(data);

        document.querySelector('.filter-btn').addEventListener('click', function() {
            let search = document.querySelector('.search-box input').value.toLowerCase();

            let status = Array.from(document.querySelectorAll('.status-box:checked')).map(checkbox => checkbox.id.toLowerCase());

            console.log(status)

            let filteredData = data.filter(item => 
                (!search || (item.project_name && item.project_name.toLowerCase().includes(search))) &&
                (status.length == 0 || (item.local_permit_status && status.includes(item.local_permit_status.toLowerCase())))
            );

            updateMarkers(filteredData);
        });
    </script>
{% endblock content %}
