{% extends "database/base.html" %}

{% load static %}
{% load plotly_dash %}

{% block content %}

    {% plotly_header %}
        {%plotly_direct name='SolarDash'%}
    {% plotly_footer %}

                    
   <!-- <div class="card">
        <div class="card-body" style="background-color:#F2F4F8">
            <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 0px; width: 100%;">
                <div>
                     {% autoescape off %}
                        {{ mwPieChart_div }}
                    {% endautoescape %}
                    <br>
                    {% autoescape off %}
                        {{ projectsAnnualLine_div }}
                    {% endautoescape %}
                    <br>
                    {% autoescape off %}
                        {{ mwAnnualLine_div }}
                    {% endautoescape %}
                    <br>
                    {% autoescape off %}
                        {{ sizeMWBar_div }}
                    {% endautoescape %}
                </div>
                <div>
                    {% autoescape off %}
                        {{ acrePieChart_div }}
                    {% endautoescape %}
                    <br>
                    {% autoescape off %}
                        {{ rateAnnualLine_div }}
                    {% endautoescape %}
                    <br>
                    {% autoescape off %}
                        {{ mwRegionalBar_div }}
                    {% endautoescape %}
                    <br>
                    {% autoescape off %}
                        {{ sizeProjectsBar_div }}
                    {% endautoescape %}
                </div>
            </div>

        </div>
    </div> -->

    <br>

{% endblock content %}
