{% extends "database/base.html" %}
{% block content %}
    <br><br>
    <h4>Browse and Export Data</h4>
    <br>

    <div>
        <a class="btn btn-light btn-sm" href="{% url 'export_csv' %}" style="margin-right: 20px">Export All to CSV</a>
        <button class="btn btn-light btn-sm">Export Filtered to CSV</button>
    </div>

    <br>

    <div class="card">
        <h6 class="card-header">
          Filters
        </h6>
        
        <div class="card-body">
            <form method="get" action="{% url 'database-data' %}">
                <div class="row">
                    <div class="col form-group">
                        <div class="dropdown">
                            <button class="btn btn-sm dropdown-toggle form-select form-select-format" style="text-align: left; border: 0.7px solid #000000;" data-toggle="dropdown">
                                &#160; Locality
                            </button>
                            <div class="dropdown-menu">
                                <div class="form-check form-check-inline">
                                    &#160; &#160; 
                                    <input class="form-check-input" type= "checkbox" value="" id="westPointCheck">
                                    <label class="form-check-label button-font" for="westPointCheck">
                                        West Point
                                    </label>
                                </div>
                                <br>
                                <div class="form-check form-check-inline">
                                    &#160; &#160; 
                                    <input class="form-check-input" type= "checkbox" value="" id="colonialBeachPointCheck">
                                    <label class="form-check-label button-font" for="colonialBeachPointCheck">
                                        Colonial Beach
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="button-spacing"><br></div>
                        <select class="form-select form-select-format">
                            <option selected disabled>&#160; Energy Storage Onsite</option>
                            <option value="yes">&#160; Yes</option>
                            <option value="no">&#160; No</option>
                        </select>
                        <div class="button-spacing"><br></div>
                        <select class="form-select form-select-format">
                            <option selected disabled>&#160; Pollinator-Smart Required</option>
                            <option value="yes">&#160; Yes</option>
                            <option value="no">&#160; No</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select form-select-format">
                            <option selected disabled>&#160; Unit of Government</option>
                            <option value="city">&#160; City</option>
                            <option value="county">&#160; County</option>
                        </select>
                        <div class="button-spacing"><br></div>
                        <select class="form-select form-select-format">
                            <option selected disabled>&#160; Solar Tracking Technology</option>
                        </select>
                        <div class="button-spacing"><br></div>
                        <input type="text" class="form-control form-select-format" placeholder="Local Action Date">
                        <div class="button-spacing"><br></div>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control form-select-format" placeholder="Base Zoning">
                        <div class="button-spacing"><br></div>
                        <select class="form-select form-select-format">
                            <option selected disabled>&#160; Leased or Purchased</option>
                            <option value="leased">&#160; Leased</option>
                            <option value="purchased">&#160; Purchased</option>
                        </select>
                        <div class="button-spacing"><br></div>
                        <input type="text" class="form-control form-select-format" placeholder="Local Zoning Submittal Date">
                        <div class="button-spacing"><br></div>
                    </div>
                    <div class="col">
                        <div class="dropdown">
                            <button class="btn btn-sm dropdown-toggle form-select form-select-format" style="text-align: left; border: 0.7px solid #000000;" data-toggle="dropdown">
                                &#160; Nameplate Capacity (MW)
                            </button>
                            <div class="dropdown-menu">
                                &#160; <input style="width: 60px; font-size: 14px;" min="0" max="999" type="number" id="numberInput" name="minInput" placeholder="Min.">
                                 - <input style="width: 60px; font-size: 14px;" min="0" max="999" type="number" id="numberInput" name="maxInput" placeholder="Max."> &#160; 
                            </div>
                        </div>
                        <div class="button-spacing"><br></div>
                        <select class="form-select form-select-format">
                            <option selected disabled>&#160; Solar Panel Type Required</option>
                        </select>
                        <div class="button-spacing"><br></div>
                    </div>
                </div>
                <p>
                    <button class="btn btn-light btn-sm" type="button" data-toggle="collapse" data-target="#additional-filters">
                    Additional Filters
                    </button>
                </p>
                <br>
                <div class="collapse" id="additional-filters">
                </div>
                <div style="line-height: 40%"><br></div>
                <button type="submit" class="btn btn-light btn-sm">Apply Filter(s)</button>
            </div>
        </form>
    </div>

    <br>

    <div class="card">
        <h6 class="card-header">
          Columns Displayed
        </h6>
        
        <div class="card-body">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type= "checkbox" value="" id="localityCheck">
                <label class="form-check-label" for="localityCheck">
                    Locality
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type= "checkbox" value="" id="statusCheck">
                <label class="form-check-label" for="statusCheck">
                    State Permit Status
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type= "checkbox" value="" id="pathCheck">
                <label class="form-check-label" for="pathCheck">
                    State Permit Path
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type= "checkbox" value="" id="capacityCheck">
                <label class="form-check-label" for="capacityCheck">
                    Nameplate Capacity (MW)
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type= "checkbox" value="" id="statusCheck">
                <label class="form-check-label" for="statusCheck">
                    Project Status
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type= "checkbox" value="" id="localCheck">
                <label class="form-check-label" for="localCheck">
                    Local Permit Status
                </label>
            </div>
            <div style="line-height: 50%"><br></div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type= "checkbox" value="" id="acreageCheck">
                <label class="form-check-label" for="acreageCheck">
                    Project Acreage
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type= "checkbox" value="" id="pjmCheck">
                <label class="form-check-label" for="pjmCheck">
                    PJM Queue Status
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type= "checkbox" value="" id="actionCheck">
                <label class="form-check-label" for="actionCheck">
                    Local Action Date
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type= "checkbox" value="" id="zoneCheck">
                <label class="form-check-label" for="zoneCheck">
                    Local Zoning Submittal Date
                </label>
            </div>
            <br><br>
            <button id="columnFilterButton" class="btn btn-light btn-sm" style="margin-right: 20px">Apply Column(s) Displayed</button>
        </div>
    </div>

    <br>

    {{ filter|json_script:"filter_json" }}

    <div style="line-height: 85%"><br></div>

    <style> #map { height: 350px; } </style>
    <p class="card-text" id="map"></p>

    <div style="line-height: 100%"><br></div>

    <script>
        var map = L.map('map').setView([38.2, -79.2569], 7)

        let data = JSON.parse(document.getElementById('filter_json').textContent)

        var mapBase = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 20,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map)

        data.forEach(data => {
            if (data.longitude !== null && data.latitude !== null
                && data.longitude.indexOf(';') == -1 && data.latitude.indexOf(';') == -1) {
                L.marker([data.latitude, data.longitude])
                    .on('click', function() {
                        window.location.href ="/project/" + data.data_id
                    })
                    .on('mouseover', function() {
                        this.bindPopup(data.project_name).openPopup()
                    })
                    .on('mouseout', function() {
                        this.closePopup()
                    })
                    .addTo(map)
            }
        })
    </script>

    <table id="projectData" class="table table-hover">
        <thead>
            <tr>
                <th style="font-weight: 600">Project Name</th>

                <th style="font-weight: 600">Locality</th>
                <th style="font-weight: 600">County/City</th>
                <th style="font-weight: 600">Address</th>
                <th style="font-weight: 600">Tax Map Parcel #</th>
                <th style="font-weight: 600">Current Land Use</th>
                <th style="font-weight: 600">Base Zoning</th>
                <th>data_id</th>

                <th style="font-weight: 600">Alternative Name(s)</th>
                <th style="font-weight: 600">State Permit Name</th>
                <th style="font-weight: 600">Parent Project Name</th>
                <th style="font-weight: 600">Previous Project Data ID</th>
                <th style="font-weight: 600">Current Project Owner</th>
                <th style="font-weight: 600">Project Owner</th>
                <th style="font-weight: 600">Previous Project Applicant</th>
                <th style="font-weight: 600">Entity ID</th>
            </tr>
        </thead>
        <tbody>
            {% for project in data %}
            <tr>
                <td style="cursor: pointer;">{{ project.project_name }}</td>

                <td style="cursor: pointer;">{{ project.locality }}</td>
                <td style="cursor: pointer;">{{ project.city_county }}</td>
                <td style="cursor: pointer;">{{ project.address }}</td>
                <td style="cursor: pointer;">{{ project.tax_map_parcel }}</td>
                <td style="cursor: pointer;">{{ project.land_use_at_time_of_local_application }}</td>
                <td style="cursor: pointer;">{{ project.base_zoning }}</td>
                <td style="cursor: pointer;">{{ project.data_id }}</td>
                
                <td style="cursor: pointer;">{{ project.alternate_names }}</td>
                <td style="cursor: pointer;">{{ project.vdeq_emd_permit_name }}</td>
                <td style="cursor: pointer;">{{ project.parent_project }}</td>
                <td style="cursor: pointer;">{{ project.data_id_for_previous_project }}</td>
                <td style="cursor: pointer;">{{ project.current_project_owner }}</td>
                <td style="cursor: pointer;">{{ project.project_owner }}</td>
                <td style="cursor: pointer;">{{ project.previous_project_owner_applicant }}</td>
                <td style="cursor: pointer;">{{ project.entity_id_eia }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div style="line-height: 200%"><br></div>

    <script>
        $(document).ready(function () {
          var table = $('#projectData').DataTable({
            searching: true,
            lengthChange: false,
            scrollX: true,
            columnDefs: [
                { width: '250px', targets: 0 }, 
                { width: '100px', targets: 1 },
                { width: '100px', targets: 2 },
                { width: '500px', targets: 3 },
                { width: '200px', targets: 4 },
                { width: '200px', targets: 5 },
                { width: '200px', targets: 6 },

                { width: '350px', targets: 8 },
                { width: '200px', targets: 9 },
                { width: '200px', targets: 10 },
                { width: '200px', targets: 11 },
                { width: '200px', targets: 12 },
                { width: '200px', targets: 13 },
                { width: '200px', targets: 14 },
                { width: '100px', targets: 15 },
            ]
          });

          table.column(7).visible(false)

          table.column(8).visible(false)
          table.column(9).visible(false)
          table.column(10).visible(false)
          table.column(11).visible(false)
          table.column(12).visible(false)
          table.column(13).visible(false)
          table.column(14).visible(false)
          table.column(15).visible(false)
          
          $('#projectData tbody').on('click', 'tr', function () {
            var data = table.row(this).data();
            var data_id = data[7]
            window.location.href = '/project/' + data_id + '/';
          });
        
          var columnFilterButton = document.getElementById("columnFilterButton");
          
          columnFilterButton.addEventListener("click", function() {
            var dataCategory = document.getElementById('dateCategoryFilter').value;

            if (dataCategory == 'location') {
                table.column(1).visible(true);
                table.column(2).visible(true);
                table.column(3).visible(true);
                table.column(4).visible(true);
                table.column(5).visible(true);
                table.column(6).visible(true);

                table.column(8).visible(false);
                table.column(9).visible(false);
                table.column(10).visible(false);
                table.column(11).visible(false);
                table.column(12).visible(false);
                table.column(13).visible(false);
                table.column(14).visible(false);
                table.column(15).visible(false);
            }
            if (dataCategory == 'namingAndOwnership') {
                table.column(1).visible(false);
                table.column(2).visible(false);
                table.column(3).visible(false);
                table.column(4).visible(false);
                table.column(5).visible(false);
                table.column(6).visible(false);

                table.column(8).visible(true);
                table.column(9).visible(true);
                table.column(10).visible(true);
                table.column(11).visible(true);
                table.column(12).visible(true);
                table.column(13).visible(true);
                table.column(14).visible(true);
                table.column(15).visible(true);
            }
          });
          
        });
    </script>
      
{% endblock content %}