{% extends "database/base.html" %}
{% block content %}
    <br><br>
    <h4>Browse and Export Data</h4>
    <p><i>Current as of 11/3/2024 (Will be updated quarterly)</i></p>
    
    <br>

    <div>
        <a class="btn btn-light btn-sm" href="{% url 'export_csv' %}" style="margin-right: 20px">Export All to CSV</a>
    </div>

    <table id="projectData" class="table table-hover">
        <thead>
            <tr>
                <th style="font-weight: 600">Project Name</th>

                <th style="font-weight: 600; width: 100px">Locality</th>
                <th style="font-weight: 600">Local Permit Status</th>
                <th style="font-weight: 600">Region</th>
                <th style="font-weight: 600">Nameplate Capacity (MW)</th>
                <th style="font-weight: 600">Project Acreage</th>
                <th style="font-weight: 600">Owner/Developer</th>
                <th>data_id</th>
            </tr>
        </thead>
        <tbody>
            {% for project in data %}
            <tr>
                <td style="cursor: pointer;">{{ project.project_name }}</td>

                <td style="cursor: pointer;">{{ project.locality }}</td>
                <td style="cursor: pointer;">{{ project.local_permit_status }}</td>
                <td style="cursor: pointer;">{{ project.region }}</td>
                <td style="cursor: pointer;">{{ project.latest_nameplate_capacity_per_local_action_mw_in_ac_field }}</td>
                <td style="cursor: pointer;">{{ project.best_available_project_acreage }}</td>
                <td style="cursor: pointer;">{{ project.owner_developer_at_local_action }}</td>

                <td style="cursor: pointer;">{{ project.data_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div style="line-height: 200%"><br></div>

    <script>
        $(document).ready(function () {
          var table = $('#projectData').DataTable({
            searching: true,
            lengthChange: false,
            scrollX: true,
            columnDefs: [
                { width: '300px', targets: 0 },
                { width: '100px', targets: 1 }, 
                { width: '150px', targets: 2 },
                { width: '100px', targets: 3 },
                { width: '200px', targets: 4 },
                { width: '180px', targets: 5 },
                { width: '650px', targets: 6 },
            ]
          });

          table.column(7).visible(false)
          
          $('#projectData tbody').on('click', 'tr', function () {
            var data = table.row(this).data();
            var data_id = data[7]
            window.location.href = '/project/' + parseInt(data_id) + '/';
          });
          
        });
    </script>
      
{% endblock content %}