{% extends "database/base.html" %}
{% block content %}
    <br><br>
    <div class="container">
        <br><br>
    <button onclick="javascript:history.go(-1);" class="btn btn-light btn-sm">Back</button>
    <br><br>
    {% if object.project_name.strip %}
        <h1>{{ object.project_name }}</h1>
    {% else %}
        <h1>{{ object.project_phases }}</h1>
    {% endif %}
    </div>
    {% if object.latitude is not None and object.longitude is not None %}
        <br>
        <style> #map { height: 350px; z-index: 0} </style>
        <div class="container" id="map"></div>

        {{ object.longitude|json_script:"longitude_json" }}
        {{ object.latitude|json_script:"latitude_json" }}

        <script>
            let longitude = Number(JSON.parse(document.getElementById('longitude_json').textContent))
            let latitude = Number(JSON.parse(document.getElementById('latitude_json').textContent))
            
            var map = L.map('map').setView([37.6, -78.6569], 7)

            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 20,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map)

            L.marker([latitude, longitude]).addTo(map)

        </script>
    {% endif %}

    <br>

    <div class="container" style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px; width: 100%;">
        <div class="card">
            <h6 class="card-header">
                Project Overview
            </h6>
            
            <div class = "card-body">
                <div><b>Locality</b> <br> {{ object.locality }} {{object.unit_of_government}}</div>

                <div style="height: 12px;"></div>
                <div><b>Additional Localities</b> <br> 
                    {% if object.additional_localities.strip %}
                        {{ object.additional_localities }} 
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
                
                <div style="height: 12px;"></div>
                <div><b>BESS Project MW</b> <br> {{ object.project_bess_mw }}</div>

                <div style="height: 12px;"></div>
                <div><b>BESS Project Energy Capacity (MWh)</b> <br> {{ object.project_bess_capacity }}</div>
                
                <div style="height: 12px;"></div>
                <div><b>Acres - BESS Project (Best Available)</b> <br> {{ object.public_bess_project_acres }}</div>
            </div>
        </div>

        <div class="card">
            <h6 class="card-header">
                Additional Project Details 
            </h6>
            
            <div class = "card-body">
                <div style="height: 12px;"></div>
                <div><b>Alternate Names</b> <br> 
                    {% if object.alt_names.strip %}
                        {{ object.alt_names }} 
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>

                <div style="height: 12px;"></div>
                <div><b>Developer/Owner at Action</b> <br> {{ object.local_action_project_owner }}</div>
            
                <div style="height: 12px;"></div>
                <div><b>Duration- Short (<10 MWh) or Long (>10 MWh)</b> <br> {{ object.bess_duration_short_long }}</div>
                
                <div style="height: 12px;"></div>
                <div><b>Location Description</b> <br> {{ object.location_description }}</div>
                
                <div style="height: 12px;"></div>
                <div><b>Notes on Co-location/Use</b> <br> {{ object.colocation_info }}</div>
                
                <div style="height: 12px;"></div>
                <div><b>Colocated with Solar</b> <br> {{ object.solar_storage }}</div>
                
                <div style="height: 12px;"></div>
                <div><b>BESS Technology Type</b> <br> {{ object.storage_tech }}</div>
                
                <div style="height: 12px;"></div>
                <div><b>BESS Technology Chemistry</b> <br> {{ object.storage_chemistry }}</div>
            
            </div>
        </div>

        <div class="card">
            <h6 class="card-header">
                Additional Permitting Details
            </h6>
            
            <div class = "card-body">
                <div style="height: 12px;"></div>
                <div><b>Local Permit Status</b> <br> {{ object.local_permit_status }}</div>
                
                <div style="height: 12px;"></div>
                <div><b>Date- Final Action</b> <br> {{ object.final_action_date }}</div>
                
                <div style="height: 12px;"></div>
                <div><b>Siting Agreement Executed?</b> <br> {{ object.siting_agreement_exists }}</div>
                
                <div style="height: 12px;"></div>
                <div><b>Date - Siting Agreement  Action</b> <br> {{ object.siting_agreement_date }}</div>
                
                <div style="height: 12px;"></div>
                <div><b>Link - Siting Agreement</b> <br> {{ object.siting_agreement_link }}</div>
            </div>
        </div>
    </div>




{% endblock content %}